.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
    transition: all 0.2s ease-in-out;
}

.link--active {
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}